{% extends "base.html" %}

    {% block page_title %}
        Home
    {% endblock page_title %}

    {% block contents %}
    <div class="flex flex-col px-20 my-5 items-center relative">
        {% for post in posts %}
            <div class="w-3/5 border-b mb-5 py-6 flex items-center justify-between">
                <div class="w-4/5">
                    <a href="{% url 'posts:detail' post.pk %}">
                        <div class="flex items-center mb-3">
                            {% include "mixins/user_avartar.html" with user=post.author h_and_w='w-10 h-10' %}
                            <div class="ml-5">
                                <span class="text-lg block">{{post.author.first_name}}</span>
                                <span>{{post.created|date:'F Y'}}</span>
                            </div>
                        </div>
                        <span class="text-3xl font-medium block mb-5">{{post.title}}</span>
                        <p class="text-lg">
                            {{post.content}}
                        </p>
                        <span class="text-gray-500 block mt-6">comment {{post.comments_count}}</span>
                    </a>
                </div>
                <div class="w-1/5">
                    <img class="block right-0" width="250px" src="{{post.first_photo}}" />
                </div>
            </div>
        {% endfor %}

        <div class="py-5 text-center flex items-center justify-center">
            {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}" class="text-green-600"><i class="fas fa-arrow-left fa-lg"></i></a>
            {% endif %}

            <span class="text-2xl font-medium mx-3">
                {{page_obj.number}} of {{page_obj.paginator.num_pages}}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{page_obj.next_page_number}}" class="text-green-600"><i class="fas fa-arrow-right fa-lg"></i></a>
            {% endif %}

            <!--{% for page in page_range %}
                <a href="?page={{page}}">{{page}}</a>
            {% endfor %}-->
        </div>
    </div>
    {% endblock contents %}
