{% extends 'base.html' %}

{% block page_title %}
    {{user_obj.first_name}}'s Profile
{% endblock page_title %}

{% block contents %}
    <div class="container lg:w-5/12 md:w-1/2 xl:w-1/4 mx-auto my-10 flex flex-col items-center border p-6 border-gray-200">
        {% include "mixins/user_avartar.html" with user=user_obj %}
        <div class="flex items-center justify-center">
            <span class="text-3xl mt-1">{{user_obj.first_name}}</span>
            {% if user_obj.superhost %}
                <i class=" text-yellow-400 fas fa-check-circle fa-lg ml-1"></i>
            {% endif %}
        </div>
        <span class="text-lg mb-5">{{user_obj.bio}}</span>

        {% if user_obj == user %}
            <a href="{% url 'users:update' %}" class="btn bg-red-400 text-white">Update Profile</a>
            <div class="mt-2 rounded-md bg-green-500 text-white w-full text-center py-5">
                <a href="{% url 'users:password' %}" class="font-medium text-lg">Change Password</a>
            </div>
        {% endif %}
    </div>
{% endblock contents %}
